__pycache__/
*.pyc
venv/
.env
.env.preprod
.env.prod
*.sqlite3
staticfiles/
media/
.pytest_cache/
.coverage
htmlcov/
node_modules/
frontend/build/
frontend/dist/
frontend/.env
frontend/tsconfig.tsbuildinfo
mobile-avocat/dist/
*.log
.DS_Store
test-results/
playwright-report/
*Zone.Identifier
